{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block content %}
<section>
  <div class="page-banner">
    <div class="banner-content">
      <div class="image-container main-banner-image" style="background-image: url('{{ CONFIGURATION.get_transparency_banner_image_url }}');">
        <div class="filter"></div>
      </div>
      <div class="banner-title-container container text-center">
        <div class="table">
          <div class="table-cell">
            <h1 class="banner-title white font-bold">{% trans 'Transparency' %}</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="page-content article">

      <div class="article-content">
        {{ CONFIGURATION.transparency|safe }}
      </div>

    </div>
  </div>
</section>
{% endblock %}
