{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
<section>
  <div class="page-banner">
    <div class="banner-content">
      <div class="image-container main-banner-image" style="background-image: url('{{ CONFIGURATION.get_error_banner_image_url }}');">
        <div class="filter"></div>
      </div>
      <div class="banner-title-container container text-center">
        <div class="table">
          <div class="table-cell">
            <h1 class="white banner-subtitle">{% trans 'ERROR 500' %}</h1>
            <h2 class="banner-title white font-bold">{% trans 'It looks like we have a problem' %}</h2>
            {% blocktrans %}
            <p class="text">
              SOMETHING WENT WRONG IN OUR SERVER, BUT YOU CAN GO BACK TO THE <a href="javascript:history.back()">LAST PAGE</a> OR TO THE <a href="/">HOME PAGE</a>.
            </p>
            {% endblocktrans %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
