{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block site_meta %}
<meta name="description" content="{% firstof evt.meta_description CONFIGURATION.meta_description %}">
<meta name="keywords" content="{% firstof evt.meta_keywords CONFIGURATION.meta_keywords %}">
{% endblock %}

{% block css %}
<style type="text/css">
  .generic-article-map iframe {
    width: 100% !important;
    height: 100% !important;
  }
  .generic-article-content p img {
    height: auto !important;
    margin: 0px !important;
    text-align: center !important;
    width: 100% !important;
  }
</style>
{% endblock %}

{% block content %}
<section>
  <div class="page-banner">
    <div class="banner-content">
      <div class="image-container main-banner-image" style="background-image: url('{{ evt.get_banner_image_url }}');">
        <div class="filter"></div>
      </div>
      <div class="banner-title-container container text-center">
        <div class="table">
          <div class="table-cell">
            <h1 class="white banner-subtitle">{% trans 'Events'|upper %}</h1>
            <h2 class="banner-title white font-bold">{{ evt.title }}</h2>
            <p class="banner-title white font-bold">{{ evt.start_date|date:"d F Y" }}{% if evt.start_date != evt.end_date %} - {{ evt.end_date|date:"d F Y" }}{% endif %}</p>
            <h3 class="text">{{ evt.excerpt|upper }}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="page-content generic-article">

      <p class="subtitle text-center">{{ evt.subtitle|upper }}</p>

      <div class="generic-article-content">
        {{ evt.content|safe }}
      </div>

      {% if evt.event_photos.exists %}
      <div class="generic-article-carousel-container">
        <div class="generic-article-carousel owl-carousel">
          {% for photo in evt.event_photos.all %}
          <div class="slider" style="background-image: url('{{ photo.get_image_url }}');">
            <img class="hidden" src="{{ photo.get_image_url }}" alt="{{ photo.alt_text }}" />
          </div>
          {% endfor %}
        </div>

        <div class="generic-article-carousel-controls">
          <i class="qro-travel-icon-forward go-right"></i>
          <i class="qro-travel-icon-backward go-left"></i>
        </div>
      </div>
      {% endif %}

      <div class="generic-article-contact">
        <p class="subtitle text-center">{% trans 'Contact data'|upper %}</p>

        <div class="table">
          <div class="table-cell">
            <p class="font-bold">{% trans 'Location' %}</p>
            <p>{{ evt.address|safe }}</p>
          </div>
          <div class="table-cell">
            <p class="font-bold">{% trans 'Contact phones' %}</p>
            {% if evt.phone_1 %}
            <p>T. {{ evt.phone_1 }}</p>
            {% endif %}
            {% if evt.phone_2 %}
            <p>T. {{ evt.phone_2 }}</p>
            {% endif %}
            {% if evt.phone_3 %}
            <p>T. {{ evt.phone_3 }}</p>
            {% endif %}
          </div>
          <div class="table-cell">
            <p class="font-bold">{% trans 'Follow this event' %}</p>
            {% if evt.web_site %}
            <p><a href="{{ evt.web_site }}" target="_blank" class="a">{{ evt.web_site }}</a></p>
            {% endif %}
            {% if evt.contact_email %}
            <p><a class="a">{{ evt.contact_email }}</a></p>
            {% endif %}
            <p>
              {% if evt.facebook_url %}
              <a href="{{ evt.facebook_url }}" target="_blank" class="qro-travel-icon-fb a social-icon"></a>
              {% endif %}
              {% if evt.twitter_url %}
              <a href="{{ evt.twitter_url }}" target="_blank" class="qro-travel-icon-twitter a social-icon"></a>
              {% endif %}
              {% if evt.instagram_url %}
              <a href="{{ evt.instagram_url }}" target="_blank" class="qro-travel-icon-instagram a social-icon"></a>
              {% endif %}
            </p>
          </div>
        </div>
      </div>

      {% if evt.google_maps %}
      <div class="generic-article-map">
        {{ evt.google_maps|safe }}
      </div>
      {% endif %}

    </div>
  </div>
</section>

{% endblock %}

{% block js %}
<script type="text/javascript">

$(document).ready(function() {

  {% if evt.event_photos.exists %}
  var roomCarousel = $('.generic-article-carousel').owlCarousel({
        loop: true,
        margin: 0,
        responsiveClass: false,
        nav: true,
        dots: true,
        autoplay: true,
        items: 1,
        mouseDrag: true,
        touchDrag: true
    });

    $('.go-left').click(function () {
        roomCarousel.trigger('prev.owl.carousel');
    });

    $('.go-right').click(function () {
        roomCarousel.trigger('next.owl.carousel');
    });
    {% endif %}

});
</script>
{% endblock %}
