
/* COLORS */
$primary-color: #609fd0;
$white: #fff;
$gray-dark: #585857;
$gray-medium: #979797;
$gray-light: #ebebeb;
$pink: #c33677;
$blue: #609fd0;
$yellow: #ffc127;
$green: #c7d41e;
$dark: #1f1e28;
$blueqrotravel: #01a0e1;

/* SIZES AND MEASURES */
$header-height: 100px;
$header-height-mobile: 80px;
$banner-height: 450px;
$small-banner-height: 300px;
$main-menu-height: 30px;
$menu-info-bar-height: 32px;

/* MEDIA SIZES */
$screen-xs-max: 767px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
